footer {
    display: flex;
    position: absolute;
    bottom: 5px;
    color: rgb(197, 91, 91);
}
.imgblog {
    width: 150px;
    position: absolute;
    top: 10px;
    border-radius: 20px;
    opacity: 80%;
}
.textsobre {
    position: absolute;
    top: 150px;
    right: 150px;
}
.imgequipe {
    opacity: 60%;
    z-index: -1;
}
.textequipe {
    position: absolute;
    top: 130px;
    right: 350px;
    font-size: 30px;
}